@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
.main {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-family: "Oxygen", sans-serif;
}

.favorite-button {
    background-color: rgb(177, 13, 122);
    border: none;
    padding: 10px 5px 5px 5px;
    color: white;
    font-weight: bold;
}